* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.contactus,
.aboutus,
.flights,
.desti {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutus {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  
}
.aboutus > h1 {
  color: #fff;
  font-size: 100px;
 
  margin-top:10px;
}



.contactus {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 50vh;
  width: 100%;
  font-size: 100px;
}

.desti {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 50vh;
  width: 100%;
  font-size: 100px;
}

.flights
{
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 50vh;
  width: 100%;
  font-size: 100px;
}

.topnav{
  
  width: 100%;
  
  display: flex;
  background-color: rgb(109, 109, 109);
  height: 50px;
  padding-top: 8px;
  justify-content: space-between;
  color: rgb(229, 226, 226);
  
}
.phone{
  margin-right: 40px;
  display: flex;
}
.email{
  
  display: flex;
  margin-left: 15px;
  color: rgb(229, 226, 226);
}
.email a{
  color: rgb(229, 226, 226);
  text-decoration: none;
}
.email a:hover{
   color: rgb(68, 68, 68);
}
@media screen and (max-width: 768px) {
  .topnav{

    display: none;
  }


}